




<div class="container_form">

<%= form_with(model: maquina, class: "form") do |form| %>
    <div class="form-group">
      <%= form.label :nome, class: 'form-label' %>
      <%= form.text_field :nome, class: "form_input" %>
      <% maquina.errors.full_messages_for(:nome).each do |message| %>
        <div class="error"><p><%= message %></p></div>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= form.label :tipo, class: 'form-label' %>
      <%= form.text_field :tipo, class: "form_input" %>
      <% maquina.errors.full_messages_for(:tipo).each do |message| %>
        <div class="error"><p><%= message %></p></div>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= form.label :descricao, class: 'form-label' %>
      <%= form.text_field :descricao, class: "form_input" %>
      <% maquina.errors.full_messages_for(:descricao).each do |message| %>
        <div class="error"><p><%= message %></p></div>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= form.label :meses_garantia, class: 'form-label' %>
      <%= form.text_field :meses_garantia, class: "form_input" %>
      <% maquina.errors.full_messages_for(:meses_garantia).each do |message| %>
        <div class="error"><p><%= message %></p></div>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= form.label :data_compra, class: 'form-label' %>
      <%= form.date_select :data_compra, order: [:day, :month, :year], class: 'select_data' %>
      <% maquina.errors.full_messages_for(:data_compra).each do |message| %>
        <div class="error"><p><%= message %></p></div>
      <% end %>
    </div>
  
    <div class="check-btn">
      <%= form.label :quebrada, class: "form_label" %>
      <%= form.check_box :quebrada, class: 'box' %> Marque a opção para sim
      <% maquina.errors.full_messages_for(:quebrada).each do |message| %>
        <div class="error"><p><%= message %></p></div>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= form.submit 'Salvar', class: 'btn-form' %>
    </div>
  <% end %>
  </div>
  
