

<%= form_with model: maquina do |form| %>

    <div>
        <%= form.label :nome %>
        <%= form.text_field :nome %>
        <% maquina.errors.full_messages_for(:nome).each do |message| %>
            <div><p><%= message %></p></div>    
        <%end%>
    </div>

    <div>
        <%= form.label :tipo %>
        <%= form.text_field :tipo %>
        <% maquina.errors.full_messages_for(:tipo).each do |message| %>
            <div><p><%= message %></p></div>    
        <%end%>
    </div>

    <div>
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
    <% maquina.errors.full_messages_for(:descricao).each do |message| %>
        <div><p><%= message %></p></div>    
    <%end%>
    </div>

    <div>
    <%= form.label :meses_garantia %>
    <%= form.text_field :meses_garantia %>
    <% maquina.errors.full_messages_for(:meses_garantia).each do |message| %>
        <div><p><%= message %></p></div>    
    <%end%>
    </div>

    
    <div>
    <%= form.label :data_compra %>
    <%= form.date_select :data_compra, order: [:day, :month, :year] %>
    <% maquina.errors.full_messages_for(:data_compra).each do |message| %>
      <div><p><%= message %></p></div>
    <% end %>
  </div>

    <div>
    <%= form.label :quebrada%>
    <%= form.check_box :quebrada %> Marque a opção para sim
   
    <% maquina.errors.full_messages_for(:quebrada).each do |message| %>
        <div><p><%= message %></p></div>    
    <%end%>
    </div>


    
    
    
    <div>
        <%= form.submit:'Cadastrar' %>
    </div>
    
    <% end %>
    