<h1>Maquinas#show</h1>


<h1><%= @maquina.nome  %></h1>


<p> <%= @maquina.tipo %> </p>

<p> <%= @maquina.descricao %> </p>

<p> <%= @maquina.meses_garantia %> </p>

<p> <%= @maquina.data_compra %> </p>

<p> <%= @quebrada %> </p>






<p> <%= @maquina.created_at %> </p>


